@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 201, 94%, 86%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 202, 80%, 24%;
    --input: 202, 80%, 24%;

    --primary: 205, 67%, 26%;
    --primary-foreground: 210 40% 98%;

    --secondary: 201, 94%, 86%;
    --secondary-foreground: 205, 67%, 26%;

    --accent: 201, 94%, 86%;
    --accent-foreground: 205, 67%, 26%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 0 0% 100%;

    --muted: 201, 94%, 86%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 0 0% 100%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 0 0% 100%;

    --border: 201, 94%, 86%;
    --input: 201, 94%, 86%;

    --primary: 202, 80%, 24%;
    --primary-foreground: 0 0% 100%;

    --secondary: 201, 94%, 86%;
    --secondary-foreground: 0 0% 100%;

    --accent: 201, 94%, 86%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 201, 94%, 86%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
